# Python
__pycache__/
*.pyc
.venv/
.env

# Node
node_modules/
dist/

# Logs
logs/
*.log

# SNAP raw data
data/snap/*.edges
data/snap/*.feat
data/snap/*.featnames
data/snap/*.egofeat
data/snap/*.circles
